#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 750px;
}
.header-section{
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background: #ff0055;
  padding: .1rem;
  gap: 1rem;
}
.header-section img{
  height: 50px;
}
.header-section p{
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.journal-entry{
  display: flex;
  text-align: left;
  margin-top: 20px;
  height: 200px;
}
.main-image-container{
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}
.main-image{
  width: 100%;
  height: 100%;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 1280px;
}